.vs
obj
bin
BundleArtifacts
AppPackages
/PixelViewer/PixelViewer.csproj.user
/Windows10Installer/Windows10Installer.wapproj.user
/Windows10Installer/Package.StoreAssociation.xml
/PixelViewer/Properties/PublishProfiles/*.user
/Packages
