.idea
.vs
.DS_Store
obj
bin
BundleArtifacts
AppPackages
global.json
PixelViewer.sln.DotSettings.user
/PixelViewer/PixelViewer.csproj.user
/Windows10Installer/Windows10Installer.wapproj.user
/Windows10Installer/Package.StoreAssociation.xml
/PixelViewer/Properties/PublishProfiles/*.user
/Packages
/PixelViewer/Properties/launchSettings.json
