.vs
obj
bin
BundleArtifacts
AppPackages
/PixelViewer/PixelViewer.csproj.user
/PixelViewer/Properties/PublishProfiles/FolderProfile-win-x86.pubxml.user
/PixelViewer/Properties/PublishProfiles/FolderProfile-linux-x64.pubxml.user
/PixelViewer/Properties/PublishProfiles/FolderProfile-win-x64.pubxml.user
/Windows10Installer/Windows10Installer.wapproj.user
/Windows10Installer/Package.StoreAssociation.xml
